doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')
  body
    section.one
      div.wrapper
        h1 Picture perfect
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    section.two
      div.wrapper.clearfix
        div.column1-2
          h2 Start something new
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
          p eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.
        div.column1-2
          p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          p Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
          img.telephone(src='i/telephone.png')
    section.three
      div.wrapper_menu
        div.menu.clearfix
          div.unit1
            h2 Design quality
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing .
            a(href="") Find Out more  &ensp; &#8594;
          div.unit2
            h2 Built to last
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing .
            a(href="") Find Out more &ensp; &#8594;
          div.unit3
            h2 Our clients
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing .
            a(href="") Get insights &ensp; &#8594;
          div.unit4
            h2 How to shoo gre
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod t
            a(href='') Find Out more  &ensp; &#8594;
          div.unit5
            h2 Sign up & see why
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing .Lorem ipsum dolor sit amet, consectetur adipisicing
            a(href='') Get Started Now &ensp; &#8594;
          div.unit6
            h2 Perfect pictures
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut adipisicing .
            a(href='') Find Out more  &ensp; &#8594;
          div.unit7
            h2 STart somthing
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod t
            a(href='') Get Started Now &ensp; &#8594;
    section.four
      div.wrapper.clearfix
        h2 A look at the details
        div.column1-4
          h3 Web based
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        div.column1-4
          h3 Performance
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        div.column1-4
          h3 Clultral
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        div.column1-4
          h3 Sustainability
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    section.car
      div.wrapper
        h2
          | More power
          br
          | behind every pixel.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        a(href="") See the options &ensp; &#8594;
    section.green
      div.wrapper.clearfix
        h2 Reasons to get onboard
        div.column1-3
          h3 Web based
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        div.column1-3
          h3 Team login
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        div.column1-3
          h3 Great Support
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    section.seven
        div.wrapper.clearfix
          div.column1-2
            a.legacy(href='') Legacy
            h2 Go it solo
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            a.buy(href='') Buy now $9
            div.store
              a(href='')
                <img src='i/appleinc.svg'>
              a(href='')
                <img src='i/windows.svg'>
          div.column1-2.shadow
            a.most_popular(href='') Most Popular
            h2 Team Plan
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            a.buy(href='') Buy now $9
            div.store
              a(href='')
                <img src='i/appleinc.svg'>
              a(href='')
                <img src='i/windows.svg'>
    footer
      div.wrapper.clearfix
        div.column1-2
          h2 Get in touch
          p Lorem ipsum dolor sit amet, cotnsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        div.column1-2
          h2 Stay in touch
          form.clearfix(action='', method='post', name='contact_form')
            input(type='email',name='email')
            button(type='submit')
            p We don’t send spam. Actually, who are we kiding, we’ll spam the shit out of you’r inbox
        div.list.clearfix
          div
            h2 Resources
            ul
              li Tour
              li Customers
              li Pricing and Plans
              li New Features
              li Education
          div
            h2 Features
            ul
              li Tour
              li Customers
              li Pricing and Plans
              li New Features
              li Education
          div
            h2 How To’s
            ul
              li Tour
              li Customers
              li Pricing and Plans
              li New Features
              li Education
    script(src='https://code.jquery.com/jquery-1.12.0.min.js')
    script(src='js/main.js')